.article {
	width: 100%;
	height: 200px;
	border-radius: 25px;
	padding-bottom: 10px;
}

.article-image {
	float: right;
	width: 30%;
	height: inherit;
	background-image: url(/images/menu.jpg);
	background-position: 50%;
	background-size: 100%;
	border-radius: inherit;
}

 .article-content {
 	float: left;
	width: 70%;
	height: inherit;
	background-color: #B4CDCD; 
	border-radius: inherit;
	text-align: center;
}

.article-content__title {
	font-size: 40px;
}

.article-content__title a {
	@extend .link;
}

.article-content__p {
	text-indent: -9999px;
}