html {
	height: 100%;
}

body {
	min-height: 100%;
	background-image: url(/images/menu.jpg);
	background-size: cover;
	background-position: 50%;
}

			/* Global Header */

.global-header {
  padding: 20px;
  height: 100px;
}

.global-header__logo {
	float: left;
  width: 100px;
}

					/* MAIN NAV  */

.main-nav {
	float: right;
}

.main-nav ul {
	list-style-type: none;
}

.main-nav a {
	text-decoration: none;
}

 .main-nav a:hover {
	text-decoration: underline;
}


