html {
	height: 100%;
}

body {
	min-height: 100%;
	background-image: url(/images/menu.jpg);
	background-size: cover;
	background-position: 50%;
}

			/* Global Header */

.global-header {
  padding: 20px;
  height: 100px;
}

.global-header__logo {
	float: left;
  width: 100px;
}

