.main-nav {
	text-align: center;
}

.main-nav__list,
.main-nav__entry {
	display: inline-block;
}

.main-nav__list {
	list-style-type: none;
	float: right;

}

.main-nav__entry {
	margin: auto 10px;
}

.main-nav a {
//	color: #474747;
	text-decoration: none;
}

 .main-nav a:hover {
	text-decoration: underline;
}
