.main-footer {		// similarities with _main-nav style -> should we put it together?
	height: 50px;
	text-align: center;		// How to make it stick to the bottom without ruinning layout
}

.main-footer__list,
.main-footer__entry {
	display: inline-block;		//Why is About us floating? :/
}

.main-footer__list {
	list-style-type: none;
}

.main-footer__entry {
	height: 50px;
	width: 50px;
	text-indent: -9999px;   
	margin: 20px;
}

.main-footer a {
	color: #474747;
	text-decoration: none;
}

 .main-footer a:hover {
	text-decoration: underline;
}

.main-footer__entry-modifier {
	text-indent: 0;
}

.main-footer__entry-modifier a {
	color: white;
}

.fb {
	background-image: url(/images/facebook.jpg);
}

.fb:hover {
	background-position: 0 -50px;
}

.twitter {
	background-image: url(/images/twitter.jpg);
}

.twitter:hover {
	background-position: -50px 0px
}