.main-footer {		// similarities with _main-nav style -> should we put it together?
	height: auto;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.main-footer__list,
.main-footer__entry {
	display: inline-block;		//Why is About us floating? :/
}

.main-footer__list {
	list-style-type: none;
	float: right;
}

.main-footer__entry {
	height: 50px;
	width: 50px;
	text-indent: -9999px;   
	margin: 20px 10px;
}

.main-footer a {
	@extend .link;	
}

 .main-footer a:hover {
	text-decoration: underline;
}

.main-footer__entry--fb {
	background-image: url(/images/facebook.jpg);
	background-position: 0 -50px;
}

.main-footer__entry--fb:hover {
	background-position: 0 0;
}

.main-footer__entry--twitter {
	background-image: url(/images/twitter.jpg);
	margin-right: 20px;
}

.main-footer__entry--twitter:hover {
	background-position: -50px 0px;
}
