extends ./jade-layouts/_default

block content
	p Questions perge
	
	.article
		.article-image
		.article-content
			h2.article-text__title  
				a(href='') Here is the question 
			p.article-text__p Here is the p