doctype html
html
  head
    title MI: Lessons
    link(rel='stylesheet', href='/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  body
    include ../jade-partials/_global-header
    block content
    include ../jade-partials/_main-footer
    script(src="https://code.jquery.com/jquery-2.1.4.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js")
    script(src="/javascript/main.js")
