doctype html
html
  head
    title MI: Lessons
    link(rel='stylesheet', href='/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  body
    include ../jade-partials/_global-header
    block content
    include ../jade-partials/_main-footer

