ul#article-list
script#article-template(type="text/template")
  .article
    .article-image(style!="background-image: url\(<%= image %>\)")
    .article-content
      h2.article-content__title
        <%= title %>
      .article-content__p
        <%= body %>

