footer.main-footer
  ul.main-footer__list
    li.main-footer__entry.main-footer__entry--fb
      a(href='/facebook.html') Find us on Facebook
    li.main-footer__entry.main-footer__entry--twitter
      a(href='/') Follow us on Twitter

