.search-box.border
	span.search-box__heading What do you need to know, Froggie?
	form.search-box__form
		input.search-box__search-field(type='search' placeholder='keywords') 
	.search-box__footer
		span.search-box__no-luck-label.color No luck? 
		a(href='#').search-box__post-a-question.color Post a question!