.search-box
	span.search-box__heading What do you need to know, Froggie?
	form.search-box__form
		input.search-box__search-field(type='search' placeholder='keywords') 
	.search-box__footer
		span.search-box__no-luck-label No luck? 
		a(href='#').search-box__post-a-question Post a question!